# Primera entrega

## German Koning

### Importamos las librerias necesarias

In [1]:
import pandas as pd

### Importamos los datasets a utilizar

In [18]:
ds1 = pd.read_csv("./ds_salaries.csv")
ds2 = pd.read_csv("./karachi-pakistan-property-prices-2023.csv")
ds3 = pd.read_csv("./Vehicle-Fuel-Economy-Data.csv", low_memory=False)

## Dataset de Salarios en Data Science

El dataset proporcionado contiene información sobre empleos y salarios en una variedad de empresas. Consta de 3755 entradas y 11 columnas diferentes. Estas columnas incluyen detalles como años de experiencia laboral, nivel de experiencia, tipo de empleo, título del trabajo, salario, moneda del salario, salario en USD, lugar de residencia del empleado, proporción de trabajo remoto, ubicación de la empresa y tamaño de la empresa.

El objetivo de este conjunto de datos es proporcionar información útil para comprender las tendencias salariales y las características laborales en diferentes empresas. Ahora, podemos generar algunas preguntas para explorar más a fondo la validez del dataset:

 - ¿Cuál es la distribución de los años de experiencia laboral en el dataset?
 - ¿Cuáles son los diferentes niveles de experiencia que se encuentran en el dataset y cuántas entradas hay para cada nivel?
 - ¿Cuáles son los tipos de empleo más comunes en el dataset y cuántas instancias hay para cada tipo?
 - ¿Cuáles son los títulos de trabajo más frecuentes en el dataset y cuántas veces aparecen?
 - ¿Cuál es el rango de salarios en la moneda original y en USD?
 - ¿En qué países se encuentran la mayoría de los empleados según su lugar de residencia?
 - ¿Cuál es la proporción promedio de trabajo remoto en los empleos del dataset?
 - ¿Cuáles son las ubicaciones más comunes de las empresas y cuántas veces aparecen?
 - ¿Qué tamaños de empresa son más prevalentes en el dataset?
 - ¿Existe alguna correlación entre el salario y los años de experiencia laboral?

In [9]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

## Dataset Precios inmoviliarios karachi

El dataset proporcionado contiene información relacionada con propiedades en venta. Está compuesto por 8414 registros y consta de 12 columnas que proporcionan detalles sobre cada propiedad, como el título, el precio, la fecha de publicación, el tipo de propiedad, el número de dormitorios y baños, el área, la ubicación, la descripción, las palabras clave y la URL asociada.

- ¿Cuál es el rango de fechas de publicación de las propiedades en el dataset?
- ¿Cuál es el rango de precios de las propiedades en venta?
- ¿Cuántas propiedades tienen un número específico de dormitorios?
- ¿Cuáles son las ubicaciones más comunes de las propiedades en venta?
- ¿Qué tipos de propiedades se encuentran en el dataset y cuántos registros hay para cada tipo?
- ¿Existe alguna correlación entre el número de baños y el precio de las propiedades?
- ¿Cuántas propiedades tienen una descripción disponible?
- ¿Cuáles son las palabras clave más utilizadas en las descripciones de las propiedades?

In [15]:
ds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8414 entries, 0 to 8413
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              8414 non-null   object
 1   price              8413 non-null   object
 2   date added         8047 non-null   object
 3   type               8413 non-null   object
 4   bedrooms           8414 non-null   int64
 5   bathrooms          8414 non-null   int64
 6   area               7322 non-null   object
 7   location           8047 non-null   object
 8   complete location  8413 non-null   object
 9   description        8413 non-null   object
 10  keywords           7551 non-null   object
 11  url                8414 non-null   object
dtypes: int64(2), object(10)
memory usage: 788.9+ KB

## Dataset sobre Economia de combustible en veiculos

In [19]:
ds3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46186 entries, 0 to 46185
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             46186 non-null  int64
 1   Manufacturer     46186 non-null  object
 2   Model            46176 non-null  object
 3   barrels08        46169 non-null  float64
 4   barrelsA08       46169 non-null  float64
 5   charge240        46169 non-null  float64
 6   city08           46169 non-null  float64
 7   city08U          46169 non-null  float64
 8   cityA08          46169 non-null  float64
 9   cityA08U         46169 non-null  float64
 10  cityCD           46169 non-null  float64
 11  cityE            46169 non-null  float64
 12  cityUF           46169 non-null  float64
 13  co2              46169 non-null  float64
 14  co2A             46169 non-null  float64
 15  co2TailpipeAGpm  46169 non-null  float64
 16  co2TailpipeGpm   46169 non-null  float64
 17  comb08           46169 non-null  float64
 18  comb08U          46169 non-null  float64
 19  combA08          46169 non-null  float64
 20  combA08U         46169 non-null  float64
 21  combE            46169 non-null  float64
 22  combinedCD       46169 non-null  float64
 23  combinedUF       46169 non-null  float64
 24  cylinders        45663 non-null  float64
 25  displ            45665 non-null  float64
 26  drive            44983 non-null  object
 27  engId            46169 non-null  float64
 28  eng_dscr         29092 non-null  object
 29  feScore          44953 non-null  float64
 30  fuelCost08       44953 non-null  float64
 31  fuelCostA08      44953 non-null  float64
 32  fuelType         44953 non-null  object
 33  fuelType1        44953 non-null  object
 34  ghgScore         44953 non-null  float64
 35  ghgScoreA        44953 non-null  float64
 36  highway08        44953 non-null  float64
 37  highway08U       44953 non-null  float64
 38  highwayA08       44953 non-null  float64
 39  highwayA08U      44953 non-null  float64
 40  VClass           44953 non-null  object
 41  highwayCD        44192 non-null  float64
 42  highwayE         44192 non-null  float64
 43  highwayUF        44192 non-null  float64
 44  hlv              44192 non-null  float64
 45  hpv              44192 non-null  float64
 46  id               44192 non-null  float64
 47  lv2              44192 non-null  float64
 48  lv4              44192 non-null  float64
 49  mpgData          44179 non-null  object
 50  phevBlended      44192 non-null  object
 51  pv2              44192 non-null  float64
 52  pv4              44192 non-null  float64
 53  range            44192 non-null  float64
 54  rangeCity        44192 non-null  float64
 55  rangeCityA       44192 non-null  float64
 56  rangeHwy         44192 non-null  float64
 57  rangeHwyA        44192 non-null  float64
 58  trany            44181 non-null  object
 59  UCity            44192 non-null  float64
 60  UCityA           44192 non-null  float64
 61  UHighway         44192 non-null  float64
 62  UHighwayA        44192 non-null  float64
 63  youSaveSpend     44192 non-null  float64
 64  guzzler          2635 non-null   object
 65  trans_dscr       14391 non-null  object
 66  tCharger         8531 non-null   object
 67  sCharger         987 non-null    object
 68  atvType          4386 non-null   object
 69  fuelType2        1647 non-null   object
 70  rangeA           1642 non-null   object
 71  evMotor          1874 non-null   object
 72  mfrCode          15200 non-null  object
 73  c240Dscr         133 non-null    object
 74  charge240b       44170 non-null  float64
 75  c240bDscr        127 non-null    object
 76  createdOn        44170 non-null  object
 77  modifiedOn       44170 non-null  object
 78  startStop        14357 non-null  object
 79  phevCity         44170 non-null  float64
 80  phevHwy          44170 non-null  float64
 81  phevComb         44170 non-null  float64
dtypes: float64(57), int64(1), object(24)
memory usage: 28.9+ MB