# Primera entrega

## German Koning

### Importamos las librerias necesarias

In [1]:
import pandas as pd

### Importamos los datasets a utilizar

In [17]:
ds1 = pd.read_csv("./ds_salaries.csv")
ds2 = pd.read_csv("./karachi-pakistan-property-prices-2023.csv")
ds3 = pd.read_csv("./Vehicle-Fuel-Economy-Data.csv", low_memory=False)

C:\Users\German\AppData\Local\Temp\ipykernel_10776\1592124847.py:3: DtypeWarning: Columns (73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  ds3 = pd.read_csv("./Vehicle-Fuel-Economy-Data.csv")

## Dataset de Salarios en Data Science

El dataset proporcionado contiene información sobre empleos y salarios en una variedad de empresas. Consta de 3755 entradas y 11 columnas diferentes. Estas columnas incluyen detalles como años de experiencia laboral, nivel de experiencia, tipo de empleo, título del trabajo, salario, moneda del salario, salario en USD, lugar de residencia del empleado, proporción de trabajo remoto, ubicación de la empresa y tamaño de la empresa.

El objetivo de este conjunto de datos es proporcionar información útil para comprender las tendencias salariales y las características laborales en diferentes empresas. Ahora, podemos generar algunas preguntas para explorar más a fondo la validez del dataset:

 - ¿Cuál es la distribución de los años de experiencia laboral en el dataset?
 - ¿Cuáles son los diferentes niveles de experiencia que se encuentran en el dataset y cuántas entradas hay para cada nivel?
 - ¿Cuáles son los tipos de empleo más comunes en el dataset y cuántas instancias hay para cada tipo?
 - ¿Cuáles son los títulos de trabajo más frecuentes en el dataset y cuántas veces aparecen?
 - ¿Cuál es el rango de salarios en la moneda original y en USD?
 - ¿En qué países se encuentran la mayoría de los empleados según su lugar de residencia?
 - ¿Cuál es la proporción promedio de trabajo remoto en los empleos del dataset?
 - ¿Cuáles son las ubicaciones más comunes de las empresas y cuántas veces aparecen?
 - ¿Qué tamaños de empresa son más prevalentes en el dataset?
 - ¿Existe alguna correlación entre el salario y los años de experiencia laboral?

In [9]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

## Dataset Precios inmoviliarios karachi

El dataset proporcionado contiene información relacionada con propiedades en venta. Está compuesto por 8414 registros y consta de 12 columnas que proporcionan detalles sobre cada propiedad, como el título, el precio, la fecha de publicación, el tipo de propiedad, el número de dormitorios y baños, el área, la ubicación, la descripción, las palabras clave y la URL asociada.

- ¿Cuál es el rango de fechas de publicación de las propiedades en el dataset?
- ¿Cuál es el rango de precios de las propiedades en venta?
- ¿Cuántas propiedades tienen un número específico de dormitorios?
- ¿Cuáles son las ubicaciones más comunes de las propiedades en venta?
- ¿Qué tipos de propiedades se encuentran en el dataset y cuántos registros hay para cada tipo?
- ¿Existe alguna correlación entre el número de baños y el precio de las propiedades?
- ¿Cuántas propiedades tienen una descripción disponible?
- ¿Cuáles son las palabras clave más utilizadas en las descripciones de las propiedades?

In [15]:
ds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8414 entries, 0 to 8413
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              8414 non-null   object
 1   price              8413 non-null   object
 2   date added         8047 non-null   object
 3   type               8413 non-null   object
 4   bedrooms           8414 non-null   int64
 5   bathrooms          8414 non-null   int64
 6   area               7322 non-null   object
 7   location           8047 non-null   object
 8   complete location  8413 non-null   object
 9   description        8413 non-null   object
 10  keywords           7551 non-null   object
 11  url                8414 non-null   object
dtypes: int64(2), object(10)
memory usage: 788.9+ KB